<app-sidebar (sended)="refresh($event)" ></app-sidebar>



<div class="left">

  <div class="container mt-3 mb-4" style="margin-left:26%">
    
            <div  class="user-dashboard-info-box table-responsive mb-0 bg-white p-4 shadow-sm ">
              <table *ngFor="let publication of publications" class="table manage-candidates-top mb-0" style="text-align: center;">
                    
                <tbody>
                  <tr class="candidates-list" >

                   
                    
                   
                      <div class="thumb" style="width: 150px; text-align: justify; margin-bottom:10px">
                        <td class="title">
                        <strong><a href="/user/{{publication.user._id}}">{{publication.user.nick}}</a></strong>
                        
                      </td>
                      
                        <a href="/user/{{publication.user._id}}" style="margin-left:1px;"><img *ngIf="publication.user.image"  src="{{url+ 'get-image-user/' + publication.user.image}}"
                          class="avatar-timeline"  alt="Avatar" /> 
                      </a>
                       <ng-template #elseblock>
                         <img src="assets/SPACE.jpg" class="avatar-timeline"  alt="Avatar" />
                       </ng-template>
                      </div>


                    
                    <td class="publicacion" *ngIf="publication.file" style="border-radius:5%"> 
                      <a href="/user/{{publication.user._id}}"></a>
                      <span style="border-radius:5%"><img   src="{{url + 'get-image-pub/' + publication.file}}" style="margin-left:-5px;">
                        <article class="cita" style="text-align:justify;" style="border-radius:5%">
                          <small>{{ (publication.created_at|  amFromUnix | amLocale:'gb'| amTimeAgo) }}</small>
                          
                          <br>
                          {{publication.text}}
                         
                          <td class="boton-borrar" style="height:40px"*ngIf="publication.user._id ==identity._id" style="border-radius:5%">
                            <br>

                            <button class="btn btn-warning btn-sm" ><small>Remove</small></button>
                          </td>
                        </article>
                      </span>
                    </td>
                    <td class="publicacion" *ngIf="!publication.file" style="border-radius:5%">
                      <div class="date">
                        
                      </div>
                      <span style="border-radius:5%"><article class="cita" style="text-align:justify; margin-left:10px;">
                        <small>{{ (publication.created_at|  amFromUnix | amLocale:'gb' | amTimeAgo) }}</small>
                        <br>
                        {{publication.text}}
                        <td class="boton-borrar" style="height:40px"*ngIf="publication.user._id ==identity._id"style="border-radius:5%">
                          <br>

                          <button class="btn btn-light btn-sm" ><small>Remove</small></button>
                        </td>
                      </article>
                    </span>
                  </tr> 
                <br>
                </tbody>
              </table>
              <div class="text-center mt-3 mt-sm-3">
                <ul class="pagination justify-content-center mb-0">
                  <li *ngIf="noMore==false" class="page-item"><a class="page-link" (click)="viewMore()">Ver más publicaciones</a></li>
                  <li *ngIf="noMore==true" class="page-item"><a class="page-link" (click)="viewMore()">No hay más publicaciones</a></li>
                  <li><button type="button" class="btn btn-primary pull-right" (click)="refresh($event)" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Refresh</button></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
    
  




