<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
<app-sidebar ></app-sidebar>
<div class="left">

  <div class="container mt-3 mb-4" >    
            <div  class="user-dashboard-info-box table-responsive mb-0 bg-white p-4 shadow-sm">
              <table *ngFor="let publication of publications" class="table manage-candidates-top mb-0">
                    {{publication.user.nick}}
                <tbody>
                  <tr class="candidates-list">
                    <td class="title">
                      <div class="thumb">
                        <a href="#" style="margin-left:1px"> <img *ngIf="publication.user.image"  src="{{url+ 'get-image-user/' + publication.user.image}}"
                          class="avatar-timeline"  alt="Avatar" /> 
                      </a>
                       <ng-template #elseblock>
                         <img src="https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png" class="avatar-timeline"  alt="Avatar" />
                       </ng-template>
                      </div>
                    </td>
                    <td class="publicacion" *ngIf="publication.image">
                      <a href="#"></a>
                      <span><img   src="{{url + 'get-image-user/' + publication.image}}" >
                        <article class="cita" style="text-align:justify;">
                          {{publication.text}}
                        </article></span>
                    </td>
                    <td class="publicacion" *ngIf="!publication.image">
                      <span><article class="cita" style="text-align:justify;">
                        {{publication.text}}
                      </article></span>
                  </tr> 
                </tbody>
              </table>
              <div class="text-center mt-3 mt-sm-3">
                <ul class="pagination justify-content-center mb-0">
                  <li *ngIf="noMore==false" class="page-item"><a class="page-link" (click)="viewMore()">Ver más publicaciones</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
    
  




