<div class="container"  >
	<div class="row" >
		<div class="col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6" style="width: 100%;">
    	 <div class="well profile">
            <div class="col-sm-12">
                <div class="col-xs-12 col-sm-8">
                   
                    <div vlass="avatar">
                        <img *ngIf="!identity.image" class="default-avatar" src="https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png" >
                        <img *ngIf="identity.image" src="{{url+ 'get-image-user/' + identity.image}}" class="rounded-circle" alt="Avatar" />
                    </div>
                    <h2><strong>{{identity.nick.toUpperCase()}}</strong></h2>
                    <p><strong>About: </strong> Aficionado a la ciencia. Desarrollador de aplicaciones web </p>
                  
            
                </div>             
            </div>
            <div class="enfila"></div>           
            <div class="col-xs-12 divider text-center" style="margin-left:23%" >
                <div class="col-xs-12 col-sm-4 emphasis" >
                    <h2><strong *ngIf="stats.followers;else nofollowers"> {{stats.followers}} </strong></h2>
                    <ng-template #nofollowers> <h2><strong>0</strong></h2> </ng-template>                  
                    <p><small>Followers</small></p>
                    <h2><strong *ngIf="stats.followed;else nofollowing">{{stats.followed}}</strong></h2> 
                    <ng-template #nofollowing> <h2><strong>0</strong></h2> </ng-template>                     
                    <p><small>Following</small></p>
                    <h2><strong *ngIf="stats.publications;else nonpubs">{{stats.publications}}</strong></h2>  
                    <ng-template #nonpubs> <h2><strong>0</strong></h2> </ng-template>                   
                    <p><small>publications</small></p> 
                </div>
                <div id="new-publication" style="margin-left:8%">
                    <h2> <strong>New Publication</strong></h2>
                    <form #registerForm="ngForm" (ngSubmit)="onSubmit(form)">
                        <div class="form-group">
                            <textarea name="text" #text="ngModel" [(ngModel)]="publication.text" class="form-control" placeholder="What's on your mind?"></textarea>
                            <span class="help-block" *ngIf="status=='error'" style="color:red"><strong>You need to write something</strong></span>
                            <br>
                            <input type="file" name="image" #image="ngModel" [(ngModel)]="publication.file" class="form-control" placeholder="Image">
                            <span class="help-block" *ngIf="image.invalid && image.touched">You need to upload an image</span>
                            <br>
                            <button type="submit" class="btn btn-primary btn-block" [disabled]="registerForm.invalid" >Publicate</button>
                            
                        </div>
                    </form>

                   
               
                </div>
            </div>
    	 </div>                 
		</div>
	</div>

  hola
                    