
<h3>{{title}}</h3>

<div class="enviar">
    <div class="alert alert-success" *ngIf="status =='success'">
        Has enviado el mensaje correctamente,miralo en tus
        mensajes enviados 
    </div>
    <div class="alert alert-danger"*ngIf="status =='error'">
        No se ha podido enviar el mensaje correcamtente.Intentalo mas tarde
    </div>
    <form #formAdd="ngForm" (ngSubmit)="onSubmit()">
        <p>
            <label><small>To:</small></label>
            
            <select class="form-select" *ngIf="follows" name="receiver" #receiver="ngModel" [(ngModel)]="message.
            receiver" class="form-control" required>
            
                 <option class="" *ngFor="let follow of follows" value="{{follow.user._id}}" >
                   
                    {{follow.user.nick}}
                   
                    
                     
                    </option>
            </select>
        </p>
        
          
        <div class="mb-3">
            
            <label for="exampleFormControlTextarea1" class="form-label"><label><small>Message</small></label></label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="text" #text="ngModel" [(ngModel)]="message.text" required></textarea>
            <span *ngIf="!text.valid && text.touched">
                El mensaje es obligatorio
           </span>

          
          </div>
          <button type="submit" value="{{title}}" class=" btn btn-primary"> Send Message </button>
    </form>
</div> 

    <div class="left" style=" border-radius:50%">

        <div class="container mt-3 mb-4" style="margin-left:26%;border-radius:50% ">
          
                  <div  class="user-dashboard-info-box table-responsive mb-0 bg-white p-4 shadow-sm " style="border-radius:10%">
                    <table *ngFor="let message of messages"  style="text-align: center;">
                          
                      <tbody style="border-radius:10%">
                        <tr class="rounded" style="border-radius:50%" >
      
                         
                          
                         
                            <div class="thumb" style="width: 150px; text-align: justify; margin-bottom:10px; border-radius:50%">
                              <td class="rounded" style="border-radius:50%">
                              <strong><a href="">{{message.emitter.nick}}</a></strong>
                            </td>
                            
                              <a href="#" style="margin-left:1px;"><img *ngIf="message.emitter.image"  src="{{url+ 'get-image-user/' + message.emitter.image}}"
                                class="avatar-timeline"  alt="Avatar" /> 
                            </a>
                             <ng-template #elseblock>
                               <img src="assets/SPACE.jpg" class="avatar-timeline"  alt="Avatar" />
                             </ng-template>
                            </div>
    
                            
                           
                          
                          
                          <td class="publicacion" *ngIf="messages" style="border-radius:5%">
                            <div class="date">
                              
                            </div>
                            <span style="border-radius:5%"><article class="cita" style="text-align:justify; margin-left:10px;border-radius:5%">
                              <small>{{ (message.created_at|  amFromUnix | amLocale:'gb' | amTimeAgo) }} from {{message.emitter.nick}}</small>
                              <span class="nickname">
                               
                               
                             </span>
                              
                              <br>
                              {{message.text}}
                            </article></span>
                        </tr> 
                      <br>
                      </tbody>
                   
                    </table>
                    
                    <div class="text-center mt-3 mt-sm-3">
                        <ul class="pagination justify-content-center mb-0">
                        
                          <li *ngIf="page > 1" class="page-item"><a class="page-link"[routerLink]="['/mymessages', prev_page]">Anterior</a></li>
                         
                          <li *ngIf="page != pages" class="page-item"> <a class="page-link"[routerLink]="['/mymessages', next_page]">Siguiente</a> </li>
                        </ul>
                      </div>
                        

                      
   
                        
                      
                    </div>
                  </div>
                </div>
            
              



              
          
        
      
      
      
      
      
    

     