<div class="left" style=" border-radius:50%">

    <div class="container mt-3 mb-4" style="margin-left:26%;border-radius:50% ">
      
              <div  class="user-dashboard-info-box table-responsive mb-0 bg-white p-4 shadow-sm " style="border-radius:10%">
                <table *ngFor="let publication of publications"  style="text-align: center;">
                      
                  <tbody style="border-radius:10%">
                    <tr class="rounded" style="border-radius:50%" >
  
                     
                      
                     
                        <div class="thumb" style="width: 150px; text-align: justify; margin-bottom:10px; border-radius:50%">
                          <td class="rounded" style="border-radius:50%">
                          <strong><a href="">{{publication.user.nick}}</a></strong>
                        </td>
                        
                          <a href="#" style="margin-left:1px;"><img *ngIf="publication.user.image"  src="{{url+ 'get-image-user/' + publication.user.image}}"
                            class="avatar-timeline"  alt="Avatar" /> 
                        </a>
                         <ng-template #elseblock>
                           <img src="assets/SPACE.jpg" class="avatar-timeline"  alt="Avatar" />
                         </ng-template>
                        </div>

                        

                       
                      
                      <td class="publicacion" *ngIf="publication.file" style="border-radius:5%"> 
                        <a href="#"></a>
                        <span style="text-align:justify;border-radius:10%"><img  src="{{url + 'get-image-pub/' + publication.file}}" >
                          <article class="cita" style="text-align:justify;border-radius:10%">
                            <small>{{ (publication.created_at|  amFromUnix | amLocale:'gb'| amTimeAgo) }}</small>
                            
                            <br>
                            {{publication.text}}
                            <td class="boton-borrar" style="height:40px"*ngIf="publication.user ==identity._id">
                              <br>
    
                              <button class="btn btn-warning btn-sm" ><small>Remove</small></button>
                            </td>
                          </article></span>
                      </td>
                      <td class="publicacion" *ngIf="!publication.file" style="border-radius:5%">
                        <div class="date">
                          
                        </div>
                        <span style="border-radius:5%"><article class="cita" style="text-align:justify; margin-left:10px;border-radius:5%">
                          <small>{{ (publication.created_at|  amFromUnix | amLocale:'gb' | amTimeAgo) }}</small>
                          <br>
                          {{publication.text}}
                          <td class="boton-borrar" style="height:40px"*ngIf="publication.user ==identity._id">
                            <br>
  
                            <button class="btn btn-light btn-sm" ><small>Remove</small></button>
                          </td>
                        </article></span>
                    </tr> 
                  <br>
                  </tbody>
                </table>
                <div class="text-center mt-3 mt-sm-3">
                  <ul *ngIf="publications && publications.length" class="pagination justify-content-center mb-0">
                    <li *ngIf="noMore==false" class="page-item"><a class="page-link" (click)="viewMore()">Ver más publicaciones</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
      
    
  
  
  
  
  
