img{
    width: 65px;
    height: 65px;
    border-radius: 50%;
    border: 3px solid rgb(6, 101, 179);
    margin-right: 21%;
    box-shadow: 7px 5px 5px rgba(5, 20, 43, 0.39);
    margin-bottom: 5%;
    
    

}

app-sidebar{
    padding-right: 2px
}

