<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a *ngIf="!userLogged"class="navbar-brand" href="#">Login</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation" *ngIf="identity">
      <span class="navbar-toggler-icon" ></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText" *ngIf="userLogged">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/timeline">Timeline</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/gente">People</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="mis-datos">My data</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/messages/1">Sended Messages</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/mymessages">Received Messages</a>
        </li>
      </ul>
      <a [routerLink]="'user/this.user_id'"><span class="navbar-text">
        <img *ngIf="identity && identity.image else elseblock"  src="{{url+ 'get-image-user/' + identity.image}}" class="rounded-circle"  alt="Avatar" /> 
        <ng-template #elseblock>
        <img src="assets/SPACE.jpg" class="rounded-circle-def"  alt="Avatar" />
        </ng-template>
      </span>
      </a>

        

      <span class="navbar-text">
         
        <a class="btn btn" href="/login" (click)="logout()">Logout</a>
       
        

       

      </span>
    </div>
  </div>
</nav>





<router-outlet></router-outlet>

