<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation" *ngIf="identity">
      <span class="navbar-toggler-icon" ></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText" *ngIf="identity">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Timeline</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/gente">Gente</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="mis-datos">Mis datos</a>
        </li>
      </ul>
      <span class="navbar-text">
        <img *ngIf="identity && identity.image else elseblock"  src="{{url+ 'get-image-user/' + identity.image}}" class="rounded-circle"  alt="Avatar" /> 
        <ng-template #elseblock>
          <img src="https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png" class="rounded-circle-def"  alt="Avatar" />
        </ng-template>

        
       
       
      
       

      

     </span>

     
      <span class="navbar-text">
         
        <a class="btn btn" href="/login" (click)="logout()">Cerrar sesión</a>
       
        

       

      </span>
    </div>
  </div>
</nav>



<router-outlet></router-outlet>