img{
    width: 400px;
    height: 350px;
    border-radius: 3%;
    border: 2px solid rgb(6, 101, 179);
    margin-left: 10%;
    box-shadow: 7px 5px 5px rgba(5, 20, 43, 0.39);
    margin-bottom: 5%;
    margin-top: 10%;
    
    

} 

.avatar-timeline{
    width: 65px;
    height: 65px;
    border-radius: 50%;
    border: 3px solid rgb(6, 101, 179);
    margin-right: 2%;
    box-shadow: 7px 5px 5px rgba(5, 20, 43, 0.39);
    margin-bottom: 5%;
    margin-top: 10%;
    
    

}

.tabla{
    overflow-y: scroll;
   
}

 .publicacion{
    width: 100%;
    height: auto;

    padding: 2%;
  
    margin-left: 100%;
    box-shadow: 7px 5px 5px rgba(5, 20, 43, 0.39);  /* #033354 0px 0px 0pt 5px; */
   

    
    

}

small{
    font-size: 0.8em;
    color: rgb(6, 85, 150);
}

article{
    margin-top: 6%;
  

    
    

}






.left{
    margin-left: -30%;
}

app-sidebar{
    float: right;
    margin-right: 10%;
    margin-top: -2%;

}

.col-md-12{
    margin-left: 10%;
}

